examples/SIGNL4 Flow.json

[{"id":"cbd9ba0.8703e48","type":"tab","label":"SIGNL4 - Sample Flow","disabled":false,"info":"Get the SIGNL4 app at https://www.signl4.com.\nRegister to get your API information.\nEnter the team secret in the SIGNL4 node.\nClick the inject node to trigger a sample alert.\n"},{"id":"d8454268.e1db5","type":"SIGNL4","z":"cbd9ba0.8703e48","name":"SIGNL4","teamSecret":"","alertSubject":"","alertBody":"","alertS4Service":"","alertS4Location":"","alertS4ExternalID":"","x":440,"y":180,"wires":[["28762e30.e8ccd2"]]},{"id":"28762e30.e8ccd2","type":"debug","z":"cbd9ba0.8703e48","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":180,"wires":[]},{"id":"8747975f.b35278","type":"inject","z":"cbd9ba0.8703e48","name":"","topic":"","payload":"{\"Subject\":\"SIGNL4 Alert from Node-RED\",\"Body\":\"Machine A2 temperature to high\",\"X-S4-Service\":\"temperature\",\"X-S4-Location\":\"52.3984235,13.0544149\",\"X-S4-AlertingScenario\":\"single_ack\",\"X-S4-ExternalID\":\"AB12\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":180,"wires":[["d8454268.e1db5"]]}]
